<div class="row">
  <div class="col-xs-12">
    <p>Add new Server or blueprints!</p>
    <span class="badge badge-secondary">Server Name</span>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <span class="badge badge-secondary">Server Content</span>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <br>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onAddServer()">Add Server</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Blueprint</button>
  </div>
</div>
